/* Media queries untuk tata letak responsif */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .foto {
        width: 90%;
        margin-left: 20px;
        margin-top: 20px;
    }

    .containerw {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    header {
        padding: 1em 0;
    }

    nav ul {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .contain1 {
        margin-left: 20px;
        margin-top: 0;
    }

    .card-container {
        flex-direction: column; /* Mengubah arah tata letak menjadi kolom */
        margin-left: 23%;
    }

    .p4 {
        margin-left: 5px;
    }

    .p3 {
        margin-right: 60px;
    }

    .p2 {
        margin-left: 34%;
    }

    .p6 {
        margin-left: -20px;
    }

    .icon3 {
        margin-left: 18px;
    }

    .card {
        margin-bottom: 20px; /* Jarak antar kartu */
    }

    .certi-card {
        flex-direction: column; /* Mengubah arah tata letak sertifikat menjadi kolom */
        align-items: center; /* Pusatkan sertifikat pada layar kecil */
        width: 90%;
    }

    .p7 {
        margin-right: -90px;
    }

    .certi {
        margin-bottom: 20px; /* Jarak antar sertifikat */
    }

    footer {
        width: 90%;
    }
}